# ===============================
# ENV
# ===============================
.env

# ===============================
# NODE
# ===============================
node_modules/

# ===============================
# BUILD OUTPUT
# ===============================
dist/

# ===============================
# TYPESCRIPT
# ===============================
*.tsbuildinfo

# ===============================
# PRISMA
# ===============================
prisma/dev.db
prisma/dev.db-journal

# ===============================
# LOGS
# ===============================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# REPLIT
# ===============================
.replit